.App{
  background-color: #F0F2F5;
}
li{
  font-style: italic;
  font-weight: 700; 
}
.symbol{
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
.developer{
  text-align: center;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}